body{
    margin: 1%;
    padding: 0;
    text-align: center;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #dddddd url(../img/anime1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.container{
    margin: 5% auto;
    width: 80%;
    text-align: left;
    background: #ffffff ;
    border: 1px solid black;
}

.mainav{
    background-color:cadetblue;
    color: black;
    padding: 2%;
    margin-bottom: 2%;
    margin-top: -3%;
}

.mainav li{
    display: inline;
    padding: 0 1%;
    margin-left: 7%;
}

.mainav li a{
    text-decoration: none;
    color: darkblue;
    font-size: 16px;
}

.mainav li a:hover{
    text-decoration: none;
    color:white;
    font-size: 16px;
    background-color: rgb(175, 156, 130);
}

.contents{
    float: left;
    width:65%;
    margin: 0 0 0 3%;
}

.contents p{
    font-size: 16px;
    text-align: justify;
}

.footer{
    clear: both;
    background-color: burlywood;
    color:black;
    text-align: right;
    font-size: 14px;
    padding: 2%;
    font-weight: bold;
}

.logo{
    width: 5%;
    height: 5%;
   
}

.menul{
    float: right;
    margin-right: 3%;
    margin-top: 7%;
}

.carrossel {
    display: inline-block;
    margin-top: 5%;
    padding: 2%;
    border-radius: 1em;
    background-color: burlywood;
  }
  
 img{
    width: 100px;
    height: 100px;
    border-radius: 1em;
  }
.figcaption{
    font-size: 10px;
}

  .grupo{
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
margin-top: 2%;
margin-left: 5%;
padding: 2%;

}
.zap{
max-width: 125%;
max-height: 125%;
}
.mapa{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 43%;
}

.gif2{
    width: 40px;
    height: 38px;
}

.gif1 img{
 margin-left: 1000px;
 width: 100px;
}
.seila{
display: inline-block;
    

}

.login{
    position: absolute;
    left: 50%;

}